* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #a0d8e2; 
}

#colapinto, #albon {
    color: black;
}

#colapinto {
    display: none;
}

#albon {
    display: none;
}
